[submodule "conf/.vim/bundle/YouCompleteMe"]
	path = conf/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "conf/.vim/bundle/vim-fugitive"]
	path = conf/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "conf/.vim/bundle/ctrlp.vim"]
	path = conf/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "conf/.vim/bundle/ultisnips"]
	path = conf/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "conf/.vim/bundle/vim-airline"]
	path = conf/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "conf/.vim/bundle/vim-scala"]
	path = conf/.vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
