[submodule "conf/.vim/bundle/YouCompleteMe"]
	path = conf/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "conf/.vim/bundle/vim-airline"]
	path = conf/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "conf/.vim/bundle/vim-scala"]
	path = conf/.vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "conf/.vim/bundle/tmuxline.vim"]
	path = conf/.vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "conf/.vim/bundle/vim-lua-ftplugin"]
	path = conf/.vim/bundle/vim-lua-ftplugin
	url = https://github.com/xolox/vim-lua-ftplugin.git
[submodule "conf/.vim/bundle/vim-misc"]
	path = conf/.vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "conf/.vim/bundle/unite.vim"]
	path = conf/.vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "conf/.vim/bundle/vimproc.vim"]
	path = conf/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "conf/.vim/bundle/L9"]
	path = conf/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "conf/.vim/bundle/UltiSnips"]
	path = conf/.vim/bundle/UltiSnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "conf/.vim/bundle/vim-fugitive"]
	path = conf/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "conf/.vim/bundle/vim-go"]
	path = conf/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "conf/.vim/bundle/tagbar"]
	path = conf/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "conf/.vim/bundle/neocomplete.vim"]
	path = conf/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
