[submodule "conf/.vim/bundle/YouCompleteMe"]
	path = conf/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "conf/.vim/bundle/vim-fugitive"]
	path = conf/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
